/build
/include/vmlinux.h
/train/data
.vscode/

# LaTeX build files & templates
*.template.tex
*.template.pdf
*.template.bib

*.log
*.aux
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.glsdefs
*.bbl
*.blg
*.pdf