/build
#You have to generate your own vmlinux.h for your kernel version.
/include/vmlinux.h
/ML/data/*
!/ML/data/utils
!/ML/data/self
/ML/data/self/*
#!/ML/data/self/zip
.vscode/

/tex/*
!/tex/graphics
!/tex/paper.tex
!/tex/eBPF_on_smartNIC.bib