/build
#You have to generate your own vmlinux.h for your kernel version.
/include/vmlinux.h
/ML/data
.vscode/

# LaTeX build files & templates
*.template.tex
*.template.pdf
*.template.bib

*.log
*.aux
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.glsdefs
*.bbl
*.blg
*.pdf